.container{
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
    padding: 1.5rem;
}

.container .sm{
    max-width: 370px;
}

.container .md{
    max-width: 550px;
}

.section-padding{
    padding: 1rem;
}