.title{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-grey4);
}

.paragraph{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--color-grey3);
}
